.topMenu {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  .searchTabs {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    .active {
      color: #11a9f5;
      font-weight: bold;
    }

    .activeLoading {
      color: #11a9f5;
      font-weight: bold;
      border-bottom: 2px solid #11a9f5;
      animation: blink 500ms infinite;
    }
  }
}

@keyframes blink { 50% { border-color:#fff ; } }
