.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
  }

  button {
    border: none;
    background: #11a9f5;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
  }
}
